<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hws.goods.dao.SpecMapper">
  <resultMap id="BaseResultMap" type="com.hws.goods.pojo.Spec">
    <!--@Table tb_spec-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="options" jdbcType="VARCHAR" property="options" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="template_id" jdbcType="INTEGER" property="templateId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, `options`, seq, template_id
  </sql>

  <select id="findByCategoryId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
        ts.*
    from
      tb_spec ts,tb_category tc
    where
        tc.id = #{id,jdbcType=INTEGER}
    and
        tc.template_id = ts.template_id
  </select>


</mapper>